<h1> Make all the Changes </h1>
<h1> I love you Justice! -Ghandi</h1>

<!-- contest count -->
<%= form_for @contest do |form| %>
    <%= render 'contest_fields', f: form %>
    <%= form.submit 'Update Contest' %>
<% end %>