    <div class="jumbotron">
      <div class="container">
        <h1>Think you da best?!</h1>
        <p>Create a kasdf;lasjlk Contest and find out!! yo</p>
       </div>
    </div>
    
    <% if @contest.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @contest.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
   <% end %>

    <div class="jumbotron">
      <div class="container">
        <%= form_for @contest , :action => "create", :method => :post do |f| %>
            <%= render "contest_fields" , f:f %>

            <%= f.submit "Create Contest", class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
    </div>



