<h1> Make all the Changes </h1>
<h1> I love you Justice! -Ghandi</h1>

<!-- user count -->
<%= form_for @user do |form| %>
    <%= render 'user_fields', f: form %>
    <%= form.submit 'Update account' %>
<% end %>


