<h1> Make all the Changes </h1>
<h1> I love you Justice! -Ghandi</h1>

<!-- contest count -->
<%= form_for @player do |form| %>
    <%= render 'player_fields', f: form %>
    <%= form.submit 'Update Player' %>
<% end %>