<h1> Player Information </h1>

<%= render @player %>
<h2> Match </h2>
<h2> Matches </h2>
<% if @player.playable %><p> Player is available for matches </p><% end %>

<h2> Record: 7-4 </h2>
<h2> Record: 5-0 </h2>
<h2> Record: 0-8 </h2>

