<h1> Match Information </h1>

<p> 4 </p>
<p> less than a minute </p>
<p> 1 day </p>
match.manager.referee.name
manager.name
match.status

<p> Referee 501 </p>
<p> Referee 507 </p>
<p> Contest 372 </p>
<p> Referee 514 </p>
<p> Unknown Status </p>
<p> Referee 288 </p>
<p> Referee 300 </p>
<p> Referee 296 </p>
<p> Referee 300 </p>