    <div class="jumbotron">
      <div class="container">
        <h1>Create your own rules! Upload a jaded referee!</h1>
        <p>Be fair, a jerk, confused, one-sided, whatevs you like with your own baby rule enforcer.</p>
       </div>
    </div>
    
    <% if @referee.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @referee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
   <% end %>

    <div class="jumbotron">
      <div class="container">
        <%= form_for @referee , :action => "create", :method => :post do |f| %>
            <%= render "referee_fields" , f:f %>

             <%= f.submit "Create Referee", class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
    </div>